SECRET_KEY=django-insecure-paytogether-local-development-key-2026
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver

# Email SMTP Settings (For sending verification codes to real Gmail / Yopmail)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=ef91646@gmail.com
EMAIL_HOST_PASSWORD=your_16_char_gmail_app_password_here
DEFAULT_FROM_EMAIL=Pay-Together <ef91646@gmail.com>

# Stripe Payment Gateway (Optional / Sandbox)
STRIPE_SECRET_KEY=your_stripe_test_secret_key_here
